[submodule "src/create_autonomy"]
	path = src/create_autonomy
	url = https://ktahar@github.com/ktahar/create_autonomy
[submodule "src/libcreate"]
	path = src/libcreate
	url = https://ktahar@github.com/ktahar/libcreate
[submodule "src/teleop_tools"]
	path = src/teleop_tools
	url = https://ktahar@github.com/ktahar/teleop_tools
